// background-color 
$dark-bg : #141414;
$light-bg : #f8f8f8;

$blue-primary : #193755;
$blue-sky : 06d8f3;
$gray : #afafaf;
$light-gray : #f1f1f1 ;

$blue-light : #e7f2ff;
$white : #ffff;

// text-color
$mutel-gray : #a1a1a1;
$focus-gray : #585858